<h3 style="margin-left:auto;margin-right:auto;text-align:center;margin-top:20px;">About | Time: {{localTime}}</h3>

<div style="margin-top:20px;padding:12px;width:30%;margin-left:auto;margin-right:auto;background-color:rgba(12,25,20,0.3);">
<p>The Easy Contacts is a simple project to understand Ember.
By building a contact app, we can learn how to write a mobile first mabitious app
with Ember.</p>
</div>

{{outlet}}
