
<h3 style="margin-left:auto;margin-right:auto;text-align:center;margin-top:20px;" id="title">Contact Book</h3>

<section style="margin-left:auto;margin-right:auto;text-align:center;margin-top:20px;">
  {{#link-to "about"}}About{{/link-to}} |
  {{#link-to "contact"}}Contact{{/link-to}} | 
  {{#link-to "application"}} Home {{/link-to}}</section>

{{outlet}}
