<h3 style="margin-left:auto;margin-right:auto;text-align:center;margin-top:20px;">Contact</h3>

<div style="margin-top:20px;padding:12px;width:30%;margin-left:auto;margin-right:auto;background-color:rgba(12,25,20,0.3);">
  <p>This is the contact page for our lab application. More content is required here.</p>
</div>

{{outlet}}
