<h1>New Contact</h1>
<div style="clear:both;margin-top 200px;">

 <form>

   <div style="clear:both;">
     <!--<label for="name">Name</label>
     {{input class="input__field input__field--chisato" value=name id="name"}}//-->


     <!--<span class="input input--chisato">
					<input class="input__field input__field--chisato" type="text" id="input-13">
					<label class="input__label input__label--chisato" for="input-13">
						<span class="input__label-content input__label-content--chisato" data-content="First Name">First Name</span>
					</label>
		</span>//-->
    <section class="content bgcolor-5">
      <h2>Yoko</h2>
      <span class="input input--minoru">
        <input class="input__field input__field--yoko" type="text" id="input-16" />
        <label class="input__label input__label--yoko" for="input-16">
          <span class="input__label-content input__label-content--yoko">Street</span>
        </label>
      </span>
      <span class="input input--minoru">
        <input class="input__field input__field--yoko" type="text" id="input-17" />
        <label class="input__label input__label--yoko" for="input-17">
          <span class="input__label-content input__label-content--yoko">City</span>
        </label>
      </span>
      <span class="input input--minoru">
        <input class="input__field input__field--yoko" type="text" id="input-18" />
        <label class="input__label input__label--yoko" for="input-18">
          <span class="input__label-content input__label-content--yoko">Region</span>
        </label>
      </span>

      <span class="input input--minoru">
        <input class="input__field input__field--yoko" type="text" id="input-19" />
        <label class="input__label input__label--yoko" for="input-19">
          <span class="input__label-content input__label-content--yoko">Street</span>
        </label>
      </span>
      <span class="input input--minoru">
        <input class="input__field input__field--yoko" type="text" id="input-20" />
        <label class="input__label input__label--yoko" for="input-20">
          <span class="input__label-content input__label-content--yoko">City</span>
        </label>
      </span>
      <span class="input input--minoru">
        <input class="input__field input__field--yoko" type="text" id="input-21" />
        <label class="input__label input__label--yoko" for="input-21">
          <span class="input__label-content input__label-content--yoko">Region</span>
        </label>
      </span>
    </section>

   </div>

   <!--<button {{action 'create'}}>Create</button>//-->
   <button type="submit" {{action 'create'}} class="input input--minoru">Create Contact</button>
 </form>
</div>
